
@mixin some_padding($property,$padding_top_bottom, $padding_right_left){
    #{$property}: $padding_top_bottom $padding_right_left;
}
@mixin clicked_btn{
    font: {
        size: 20px;
        weight: 700;
        family: 'poppins',sans-serif;
    };
    border: none;
    box-shadow: 0 0 5px #ddd;
    display: inline-block;
    // padding: 15px 30px;
    border-radius: 30px;
    @include some_padding(padding,15px, 30px);
    text: {
        decoration: none;
        transform: uppercase;
    };
    color: #444;
}


